POSTGRES_PW=PostgresPasswordHere

DJANGO_SECRET_KEY=ProdDjangoSecretKey
DJANGO_CONFIGURATION=Production
DJANGO_DB=snippet
DJANGO_DB_USER=snippet
DJANGO_DB_PASSWORD=ProdDjangoDbPW
DJANGO_DB_URL=snippets-db
LOAD_DATA=1